{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          KEYINGI BO'LIM
        </h2>
      </div>
      <div class="row">
          {% for bolim in bolimlar %}
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="" alt="">
              <img src="/media/{{ bolim.rasmi }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Insonni o'ziga tortuvchi mebellar
              </h5>
              <p>
                {{ bolim.izoh }}
              </p>
              <a href="">
                {{ bolim.yonalish }}
              </a>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- end blog section -->

  {% endblock content %}
</body>

</html>