{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="slider_section long_section">
      <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Ehtiyojlaringiz uchun <br>
                      barcha mebellar mavjud
                    </h1>
                    <p>
                      Bu sahifadagi mebellar judayam yumshoq, qulay va hamyonbop.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'Boglanish' %}" class="btn1">
                        Bog'lanish uchun
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="{% static 'images/a1.jpg' %}" alt="Ko'rinmaydi">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Barcha  mebellar <br>
                      Siz uchun maxsus
                    </h1>
                    <p>
                      BU yerdagi barcha mebellar sizga albatta manzur bo'ladi. ular judayam yumshoq, qulay va hamyonbop.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'Boglanish' %}" class="btn1">
                        Bog'lanish uchun
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="{% static 'images/a1.jpg' %}" alt="Ko'rinmaydi">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Barcha mebellar <br>
                      Siz ushun maxsus
                    </h1>
                    <p>
                      BU yerdagi barcha mebellar sizga albatta manzur bo'ladi. ular judayam yumshoq, qulay va hamyonbop.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'Boglanish' %}" class="btn1">
                        Bog'lanish uchun
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="{% static 'images/a1.jpg' %}" alt="Ko'rinmaydi">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel" data-slide-to="1"></li>
          <li data-target="#customCarousel" data-slide-to="2"></li>
        </ol>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- furniture section -->



  <!-- end blog section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          MAVLUDA
        </h2>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="Ko'rinmaydi" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <h6>
                        MAVLUDA
                      </h6>
                    </div>
                    <p>
                      Biz bilan doim eng yaxshilari. Bizdan xarid qilayotganingizdan bexad xursandmiz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <h6>
                        MAVLUDA
                      </h6>
                    </div>
                    <p>
                      Biz bilan doim eng yaxshilari. Bizdan xarid qilayotganingizdan bexad xursandmiz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <h6>
                        MAVLUDA
                      </h6>
                    </div>
                    <p>
                      Biz bilan doim eng yaxshilari. Bizdan xarid qilayotganingizdan bexad xursandmiz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->



  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> BARCHA MEBELLARNI KO'RISH
        <a href="https://html.design/">HAMMA UCHUN TEKIN</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->
{% endblock content %}

</body>

</html>