{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/a1.jpg' %}" alt="Ko'rinmaydi">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Biz haqimizda
              </h2>
            </div>
            <p>
              Bu sahifadagi mebellar judayam yumshoq, qulay va hamyonbop.
            </p>
            <a href="">
              Ko'proq o'qing
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


  {% endblock content %}
</body>

</html>